.input1{
    background-color: rgb(84, 143, 237);
}
.input2{
    background-color: royalblue;
}
.input3{
    background-color: aqua;
}
.input4{
    background-color: brown;
}
.input5{
    background-color: aquamarine;
}
.input6{
background-color: rgb(140, 17, 125);
}
.input7{
    background-color: chartreuse;
}
.input8{
    background-color: darkblue;
}
h1 {
    background-color: rgb(138, 254, 241);
  }